.category {
  color: #111827; // Customize the color as you like
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize; // Optional: capitalize the category titles
}
